[submodule "https://github.com/tevador/RandomX"]
	path = https://github.com/tevador/RandomX
	url = external/randomx
[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/sherkitty/unbound
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/sherkitty/trezor-common
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/sherkitty/supercop
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/tevador/RandomX
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp
