[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/sherkitty/unbound
[submodule "https://github.com/tevador/RandomX"]
	path = https://github.com/tevador/RandomX
	url = external/randomx